<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sarbala.godot.plugin.android.godottoast">

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.GodotToast"
            android:value="sarbala.godot.plugin.android.godottoast.GodotToast" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false"
            android:authorities="${applicationId}">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>
    </application>
</manifest>

